<div class="flex justify-center mt-20">
  <div
    *ngIf="!showEdit"
    class="text-lg shadow-2xl p-5 border-4 border-black min-w-max"
  >
    <div class="space-y-1">
      <h1 class="font-bold text-red-500 text-xl">{{ ad.heading }}</h1>
      <h1>{{ ad.description }}</h1>
      <div class="flex items-center space-x-2">
        <h1>{{ ad.likes }}</h1>
      </div>
      <h1>Type: {{ ad.type }}</h1>
      <h1>Category: {{ ad.category }}</h1>
    </div>
    <hr class="my-5" />
    <div class="flex justify-between space-x-5">
      <svg
        (click)="likeAd()"
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 cursor-pointer hover:text-red-500"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5"
        />
      </svg>
      <svg
        (click)="showEdit = true"
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 cursor-pointer hover:text-red-500"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
        />
      </svg>
      <svg
        (click)="deleteAd()"
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 cursor-pointer hover:text-red-500"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </div>
    <button
      (click)="applyForAd()"
      class="mt-5 bg-red-500 hover:text-white px-5 py-2 rounded-lg"
    >
      Apply Here
    </button>
  </div>
  <div *ngIf="showEdit">
    <!-- if admin -->
    <button (click)="showEdit = false">Cancel</button>
    <h1 class="flex justify-center my-5 text-xl">Edit ******</h1>
    <form class="flex justify-center">
      <div class="space-y-5">
        <div class="">
          <label for="heading" class="block">Heading</label>
          <input
            type="text"
            name="heading"
            placeholder="Heading"
            [(ngModel)]="ad.heading"
          />
        </div>
        <div class="">
          <label for="desc" class="block">Description</label>
          <textarea
            name="desc"
            placeholder="Description"
            [(ngModel)]="ad.description"
          ></textarea>
        </div>
        <div class="">
          <label for="likes" class="block">Likes</label>
          <input
            type="number"
            name="likes"
            placeholder="Likes"
            [(ngModel)]="ad.likes"
          />
        </div>
        <div>
          <label for="type" class="block">Type</label>
          <select [(ngModel)]="ad.type" name="type" id="type">
            <option value="Full-time">Full Time</option>
            <option value="Part-time">Part Time</option>
            <option value="Remote">Remote</option>
          </select>
        </div>
        <div>
          <label for="category" class="block">Category</label>
          <input
            type="text"
            name="category"
            placeholder="Category"
            [(ngModel)]="ad.category"
          />
        </div>
        <div class="flex justify-center">
          <button
            type="button"
            (click)="updateAd()"
            class="bg-green-400 px-5 py-2 rounded-lg"
          >
            Update
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
