<div>
  <button class="bg-red-500 flex justify-end w-full pr-5 text-lg" (click)="logOut()">Logout</button>
  <div class="flex justify-between">
    <form action="" class="text-center w-full my-20">
      <h1>Add Ad</h1>
      <div class="space-y-5">
        <div>
          <label for="heading">Heading</label>
          <input
            type="text"
            name="heading"
            placeholder="Heading"
            [(ngModel)]="heading"
          />
        </div>
        <div>
          <label for="desc">Description</label>
          <textarea
            name="desc"
            placeholder="Description"
            [(ngModel)]="description"
          ></textarea>
        </div>
        <div>
          <label for="likes">Likes</label>
          <input
            type="number"
            name="likes"
            placeholder="Likes"
            [(ngModel)]="likes"
          />
        </div>
        <div>
          <label for="type">Type</label>
          <input
            type="text"
            name="type"
            placeholder="Type"
            [(ngModel)]="type"
          />
        </div>
        <div>
          <label for="category">Category</label>
          <input
            type="text"
            name="category"
            placeholder="Category"
            [(ngModel)]="category"
          />
        </div>
        <button (click)="addAd()" class="bg-green-400 px-5 py-2 rounded-lg">
          Add
        </button>
      </div>
    </form>
    <div class="p-5 w-full">
      <h1 class="text-3xl text-center my-5">All Job Ads</h1>
      <div class="grid grid-cols-4 gap-10">
        <div *ngFor="let ad of jobAdsList">
          <div
            class="p-5 border-2 border-black flex justify-between items-start"
          >
            <div class="space-y-2 text-lg">
              <h1>{{ ad.heading }}</h1>
              <h1>{{ ad.description }}</h1>
              <h1>{{ ad.likes }}</h1>
              <h1>{{ ad.type }}</h1>
              <h1>{{ ad.category }}</h1>
              <button class="bg-orange-400 px-5 py-2 rounded-lg">
                <!-- (click)="updateAd(ad.id,data)" -->
                Update
              </button>
            </div>
            <button (click)="deleteAd(ad)" class="text-red-500 text-3xl">
              x
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
