<div class="bg-red-500 text-xl p-5 flex justify-between items-center">
  <div class="flex items-center space-x-5">
    <a routerLink="/ads" class="hover:text-white">Job Ads</a>
    <!-- if admin -->
    <a routerLink="/addAd" class="hover:text-white"
      ><h1
        class="border-2 border-red-700 hover:border-white px-5 py-2 rounded-lg"
      >
        Add a new job ad
      </h1></a
    >
  </div>
  <div *ngIf="loggedIn" class="flex space-x-5">
    <a routerLink="/dashboard" class="hover:text-white">{{ loggedIn }}</a>
    <button class="hover:text-white" (click)="logOut()">Logout</button>
  </div>
  <div *ngIf="!loggedIn" class="flex space-x-5 hover:text-white cursor-pointer">
    Login
  </div>
</div>
